<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
    <div>
    <div class="left-div">
        <img src="/assets/images/sculptures.jpg" width="100%" height="800px%" />
    </div>
    <div class="right-div">
        <div class="button-container">
        <a mat-stroked-button class="button" href="/museum-list" target="_blank">Museums</a>
        <br>
        <a mat-stroked-button class="button" href="/culture-news" target="_blank">Culture news</a>
        <br>
        <a mat-stroked-button class="button" href="/active-visits" target="_blank">Active virtual visits</a>
        <br>
        <a mat-stroked-button class="button" href="/all-tickets" target="_blank">Your tickets</a>
        <br>
        <a mat-stroked-button class="button" href="http://localhost:8081/VirtualMuseumJSPM2?userId={{userId}}" target="_blank">Transactions</a>
        </div>
    </div>
</div>
</body>
